@tailwind base;

#toggle:checked ~ label div.toggle-dot {
  @apply translate-x-3;
}

@tailwind components;
@tailwind utilities;

.nav-bar {
  top: 0;
  position: sticky;
  z-index: 2;
}
.navbar {
  background-color: darkcyan;
}
.navbar-nav {
  float: right;
  text-align: right;
}
